<div id="inicio">
  <header class="sticky top-0 bg-white p-4">
    <nav class="">
      <div
        class="mx-auto flex max-w-screen-lg flex-row items-center justify-between"
      >
        <div class="h-16 w-16">
          <img
            width="65"
            height="65"
            src="https://martinezgalodev.netlify.app/static/media/iconGM.3e88722b6c1fcdfa67d0.png"
            alt="Galo Portafolio"
            class="h-full w-full"
            lazy="loading"
          />
        </div>
        <ul class="hidden flex-row gap-x-10 text-sm md:flex">
          @for (listItem of listItems; track listItem.id) {
            <li class="group cursor-pointer">
              <a
                href="{{ listItem.link }}"
                class="flex font-bold text-gray-400 transition-all duration-300 ease-in-out group-hover:translate-x-2 group-hover:text-gray-950"
              >
                {{ listItem.title }}
              </a>
            </li>
          }
        </ul>
        <span class="cursor-pointer md:hidden">
          <i class="fa-solid fa-bars"></i>
        </span>
      </div>
    </nav>
  </header>
  <main class="p-2">
    <div class="mx-auto flex max-w-screen-lg flex-col gap-8">
      <h1 class="text-center text-5xl font-extrabold">HOLA! SOY TONY MESTAS</h1>
      <p class="text-center text-xl leading-10 -tracking-tighter text-gray-500">
        Soy un desarrollador Front-end con experiencia en el desarrollo de
        aplicaciones web. Me apasiona la tecnología y la programación. Me
        encanta aprender cosas nuevas y compartir mis conocimientos con los
        demás. Actualmente trabajo como Freelance y estoy disponible para
        proyectos interesantes.
      </p>
      <div class="grid grid-cols-1 flex-wrap gap-6 self-center md:grid-cols-2">
        <div class="mx-auto">
          <button
            class="rounded-lg bg-slate-700 px-8 py-2 text-white transition-colors duration-300 ease-in-out hover:bg-slate-800"
          >
            PROYECTOS
          </button>
        </div>
        <div class="mx-auto">
          <button
            class="rounded-lg bg-slate-700 px-8 py-2 text-white transition-colors duration-300 ease-in-out hover:bg-slate-800"
          >
            DESCARGAR CV
          </button>
        </div>
      </div>
    </div>
    <div class="mt-8 flex max-w-full flex-col gap-8" id="poderes">
      <p class="text-center text-4xl font-bold">Mis poderes</p>
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4">
        <button class="bg-gray-100 p-4" type="button">HTML</button>
        <button class="bg-gray-100 p-4" type="button">Css</button>
        <button class="bg-gray-100 p-4" type="button">JavaScript</button>
        <button class="bg-gray-100 p-4" type="button">Tailwind</button>
        <button class="bg-gray-100 p-4" type="button">Angular</button>
        <button class="bg-gray-100 p-4" type="button">Git</button>
        <button class="bg-gray-100 p-4" type="button">Github</button>
      </div>
    </div>
    <div
      id="contacto"
      class="mx-auto mt-8 flex max-w-md flex-col gap-4 text-center"
    >
      <h2 class="text-4xl font-bold">Conectemos</h2>
      <div>
        <h3 class="text-xl">Ponte en contacto</h3>
        <p class="text-xl leading-10 -tracking-tighter text-gray-500">
          ¿Quieres charlar o tienes una propuesta laboral? Simplemente
          <a href="" class="text-blue-500 hover:underline"
            >envíame un mensaje directo a mi perfil de LinkedIn</a
          >
          y responderé siempre que pueda.
        </p>
      </div>
    </div>
  </main>
  <footer class="bg-gray-800 p-4 text-center text-white">
    Hecho con <i class="fa-solid fa-heart text-red-500"></i> por Tony Mestas
  </footer>
</div>
